:root {
    --logotipo: #1a1a1a;
    --profesion: #f2f2f2;
    --primario: #556B2F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #fff;
    outline: none;
}

/* NAVBAR */

.titulo-cv {
    font-family: Verdana;
    font-size: 26px;
}

.nav-item {
    font-family: Verdana;
    font-size: 20px;
}

/* iconos */
.nav-icon {
    font-size: 50px;
}

/* fin navbar */


/* sobre mi section */

.imageAboutPage {
    width: 100%;
    border-radius: 5%;
}

.texto {
    font-family: Verdana;
    font-size: 20px;
}

/* termina sobre mi section */

/* herramientas section */

.logoHerramientas {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

@media screen and (max-width:1200px) {
    .logoHerramientas {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.herramientas {
    font-size: 130px;
}

/* termina herramientas section */

/* portafolio section */

.col-lg-6 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(5px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

/* iconos redes */

.social-icons {
    font-size: 50px;
    cursor: pointer;
}

.fab {
    color: #000000;
}

/* formulario contacto */
textarea {
    resize: none;
}

.form-control {
    text-align: center;
    width: 380px;
}

/* btn style */

.btn {
    --color: #556B2F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.btn::after,
.btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
    color: var(--color2);
}

.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}

/* fin btn styles */

/* footer styling */
.footer-s {
    background-color: darkolivegreen;
}

.social-icons2 {
    font-size: 50px;
    cursor: pointer;
    text-align: center;
}

.copy {
    text-align: center;
    font-size: 25px;
}

/* avatar */

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.containerAvatar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.avatar {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.avatar img {
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1000px) {
    .console-container {
        width: 400px;
        height: 200px;
    }
}

/* termina avatar */

/* texto que se borra */
.hidden {
    opacity: 0;
}

.console-container {

    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    color: darkolivegreen;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

@media screen and (max-width: 420px) {
    .console-container {
        max-width: 300px;
        height: 250px;
    }
}

/* termina el texto js */