:root {
    --logotipo: #1a1a1a;
    --profesion: #f2f2f2;
    --primario: #556B2F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: #fff;
    outline: none;
}


/* NAVBAR */

.titulo-cv {
    font-family: Verdana;
    font-size: 26px;
}

.nav-item {
    font-family: Verdana;
    font-size: 20px;
}

/* iconos */
.nav-icon {
    font-size: 50px;
}

/* boton de modo oscuro */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 10px;
}

.toggle-switch .toggle-input {
    display: none;
}

.toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.toggle-switch .toggle-input:checked+.toggle-label {
    background-color: #4CAF50;
}

.toggle-switch .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
    background-color: #BEBEBE;
}

.toggle-switch.light .toggle-input:checked+.toggle-label {
    background-color: #9B9B9B;
}

.toggle-switch.light .toggle-input:checked+.toggle-label::before {
    transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
    background-color: #4B4B4B;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label {
    background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked+.toggle-label::before {
    transform: translateX(16px);
}


/* fin boton */

/* fin navbar */


/* sobre mi section */

.imageAboutPage {
    width: 80%;
    border-radius: 5%;
}

.texto {
    font-family: Verdana;
    font-size: 20px;
}

/* termina sobre mi section */

/*  herramientas section */ 

.container1 {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
    padding: 20px; /* Espaciado interno */
}

.container1 h2 {
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Una columna */
    gap: 20px; /* Espacio entre las filas y columnas */
    text-align: center;
}

.logolenguajes,
.logoTecnologias,
.logoFrameworks {
    display: flex;
    justify-content: space-around; /* Centra los íconos horizontalmente */
    align-items: center; /* Centra los íconos verticalmente */
}

.logolenguajes i,
.logoTecnologias i,
.logoFrameworks i {
    font-size: 100px; /* Tamaño de fuente para los íconos */
}



/* termina herramientas section */

/* portafolio section */

.col-lg-6 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    text-align: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}


/* iconos redes */

.social-icons {
    display: ruby-text;
    font-size: 50px;
    cursor: pointer;
}

.fab {
    color: #000000;
}


/* formulario contacto 
textarea {
    resize: none;
}

.form-control {
    text-align: center;
    width: 380px;
}
    */

/* btn style */

.btn {
    --color: #556B2F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

/* fin btn styles */

/* DARK MODE */

.dark-mode {
    background-color: #222;
}

.dark-mode h1 {
    color: #fff;
}

.dark-mode h2 {
    color: #fff;
}

.dark-mode p {
    color: #fff;
}

.dark-mode .card {
    background-color: #1a1a1a;
    border: none;
}

/* footer styling */
.footer-s {
    background-color: darkolivegreen;
}

.social-icons2 {
    font-size: 50px;
    cursor: pointer;
    text-align: center;
}

.copy {
    text-align: center;
    font-size: 25px;
}

/* avatar */

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.containerAvatar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.avatar {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border: 5px white solid;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.avatar img {
    width: 100%;
    height: 100%;
}

@media all and (max-width: 1000px) {
    .console-container {
        width: 400px;
        height: 200px;
    }
}

/* termina avatar */

/* texto que se borra */
.hidden {
    opacity: 0;
}

.console-container {

    font-family: Verdana;
    font-size: 50px;
    text-align: center;
    height: 100px;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    color: darkolivegreen;
    margin: auto;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

@media screen and (max-width: 420px) {
    .console-container {
        max-width: 300px;
        height: 250px;
    }
}

/* termina el texto js */

/* media qrie imagen sobre mi */

@media screen and (max-width: 1000px ){
    .imageAboutPage {
        width: 100%;
    }
}